<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.transwind"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name="com.example.transwind.data.TransWindApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 主界面 -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- 启动页 -->
        <activity
            android:name=".StartActivity"
            android:theme="@style/StartActivityTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 登录界面 -->
        <activity android:name=".LoginOrRegistActivity" >
        </activity>

        <!-- 找回密码界面 -->
        <activity android:name=".FindbackActivity" >
        </activity>


        <!-- 重置密码界面 -->
        <activity android:name=".ResetActivity" >
        </activity>
    </application>

</manifest>